# Pandas Introduction

In this particular execerise, I'll be exploring all the data structures that I can be able to build and explore at the same time. Let's do this

In [1]:
# Importing the necessary libraries
import numpy as np
import pandas as pd

In [2]:
# creating a series

arr = np.array([1,4,5,7])

In [3]:
series = pd.Series(arr)

series

0    1
1    4
2    5
3    7
dtype: int32

In [4]:
series.ndim

1

In [6]:
series.shape

(4,)

In [7]:
series.size

4

In [8]:
# indexing in pandas
series1 = pd.Series(arr, index=['Index', 'Book', 'Pages', 'Age'])

In [9]:
series1

Index    1
Book     4
Pages    5
Age      7
dtype: int32

In [10]:
# Building a series using random integers
series_one = pd.Series(50, index = ('No.', 'Age', 'Hs', 'Class'))

In [11]:
series_one

No.      50
Age      50
Hs       50
Class    50
dtype: int64

In [12]:
series_one.head()

No.      50
Age      50
Hs       50
Class    50
dtype: int64

In [13]:
series_one.tail()

No.      50
Age      50
Hs       50
Class    50
dtype: int64

In [14]:
# Creating a series from a dictionary
dict = {'Name': 'Bob', "Age": "23", "Job": "Sales Manager", "Salary": 20000, "House No": 13}

In [15]:
series_two = pd.Series(dict)

In [16]:
series_two

Name                  Bob
Age                    23
Job         Sales Manager
Salary              20000
House No               13
dtype: object

In [17]:
# perfroming head and tail functions
array = ([1,5,7,9,3,6,8,2,0,9,2,5,67,89,5,45,12])

series_three = pd.Series(array)
series_three

0      1
1      5
2      7
3      9
4      3
5      6
6      8
7      2
8      0
9      9
10     2
11     5
12    67
13    89
14     5
15    45
16    12
dtype: int64

In [18]:
series_three.head()

0    1
1    5
2    7
3    9
4    3
dtype: int64

In [19]:
series_three.tail()

12    67
13    89
14     5
15    45
16    12
dtype: int64

In [20]:
# selecting values in series
series_three.loc[: 4]

0    1
1    5
2    7
3    9
4    3
dtype: int64

In [21]:
series_three.loc[2:6]

2    7
3    9
4    3
5    6
6    8
dtype: int64

In [22]:
series_three.loc[6:]

6      8
7      2
8      0
9      9
10     2
11     5
12    67
13    89
14     5
15    45
16    12
dtype: int64

In [23]:
# slicing in series
series_three[2:7:10]

2    7
dtype: int64